/* Colors */

:root {
    --cerulean: #478ca7;
    --cerulean-hover: #82b5c9; 
    --lightBlue: #46b8da; 
    --darkBlue: #0052cc; 
    --lightGreen: #4ea500; 
    --lightGreen-hover: #73c46c; 
    --lightRed: #c13c40; 
    --lightRed-hover: #cf8383; 
}

/* Navbar styles */
.navbar-inverse{
	background-color: var(--darkBlue);
  }
  
.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #FFF;
}

.navbar-default .navbar-nav .navbar-inverse > li > a {
    color: #FFF;
}

/* Button styles */
.btn-primary {
	color: #fff;
	background-color: var(--darkBlue);
	border-color: var(--lightBlue);
	}
	

/* Carousel styles */
	.carousel-indicators {
	  bottom:-50px;
	}
	.carousel-indicators li {
	  bottom:-50px;
	  border-color: var(--darkBlue);
	  background-color: #fff;
	}
	
	.carousel-indicators .active {
    background-color: var(--darkBlue);
  }

	.carousel-inner {
   margin-bottom:50px;
  }
  
.carousel-caption {
      max-width: 550px;
      padding: 0 20px;
      margin:0 auto;
      margin-top: 200px;
      text-align:center;
}




/* slider post styles */
html {background: #d5d5d5;}
#slider-k {
background: #fff;
width: 100%;
height: 150px;
margin: 20px auto;
overflow: hidden;
border-radius: .2rem;
box-shadow: 0 0 7px rgba(0, 0, 0, 0.7);
}
#slider-k .frame-k {
-moz-box-sizing: border-box;
box-sizing: border-box;
width: 30%;
height: 100%;
float: left;
overflow: hidden;
border-left: 10px solid #fff;
pointer: cursor;
box-shadow: 0 0 7px rgba(0, 0, 0, 0.9);
transform: skewX(-20deg);
transition: width 1.2s ease-in-out;
}
#slider-k:hover div {width: 108px;cursor: w-resize;}
#slider-k:hover div:hover {
width: 392px;}

.frame-k img {
margin-left: -55px;
transform: skewX(20deg);

}

#slider-k > div:first-child {margin-left: -63px;}
#slider-k > div:last-child {margin-right: -63px;}



/* Slider cards */
